.playerList {

  table-layout: auto;
  border-collapse: collapse;
  
  margin: 0%;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
  
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

  color:#ccd6f6;
  background-color:#112240;
}
.playerList tr,
.playerList td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px #112240;
}
