.App {
  text-align: center;
}

.Layout{
  display: flex;
  height:100vh;
  padding: 12px;
  gap: 12px;
}
.leftSideBar{
  width:250px;
  border-radius: 12px;
  background-color:#112240;
}
.mainBody{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  flex:1;
  background-color:#121212;
}
.rightSideBar{
  width: 250px;
  border-radius: 12px;
  background-color:#112240;
}